body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(143, 143, 252);
}

#container {
    border: 2px solid black;
    height: 600px;
    width: 1000px;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#quote {
    text-align: center;
    width: 80%;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow:0px 0px 2px rgb(255, 255, 255);
}
#boxes {
    text-shadow:0px 0px 1px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
button {
    height: 50px;
    width: 150px;
    font-size: large;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    align-self: last;
}
button:hover {
    background-color: darkgray;
    color: black;
    box-shadow: 0px 0px 5px gray;
}
